/* General */

body{
    background-color: white;
}


.transitions {
    transition: 2s;
}


.transitions .my-nav a{
    transition: 2s;
}



.transitions .card{
    transition: 2s;
}
.transitions .btn {
    transition: 2s;
}
.transitions .divider {
    transition: 2s;
}
.transitions tr {
    transition: 0s;
}
.transitions  table,th,td {
    transition: 0s;

}
.transitions table>tbody>tr:nth-child(odd) {
    transition: background 2s;
}
.transitions .my-copyright{
    transition: 2s;
}

.transitions .my-nav-content li a {
    transition: color 2s;

}
.transitions .my-nav-content li a:hover {
    transition: color  2s;
}
.transitions .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.white-mode .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: blueviolet;
    margin-right: 24px;
    text-transform: uppercase
}

.white-mode .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:rgb(168, 148, 187)
}







.white-mode .mode-changer input {
    background-color: whitesmoke;
}

.dark-mode {
    background-color: rgb(34, 32, 52);
    color: white;
    color-scheme: dark;
}
.dark-mode .my-nav a{
    color: white;
}
.dark-mode .mode-changer input{
    background-color: rgb(42,38,52);
}
.dark-mode .card{
    background-color: rgb(42,38,52);
}
.dark-mode .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: blueviolet;
    margin-right: 24px;
    text-transform: uppercase
}

.dark-mode .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:rgb(168, 148, 187)
}


.dark-mode .btn {
    background-color: #EE6F73;
}
.dark-mode .divider {
    opacity: 0.2;
}
.dark-mode tr:nth-child(odd) {
    background-color: rgb(42,38,52);
}

.dark-mode  table,th,td {
    border: none

}

.dark-mode .my-copyright{
    text-align: center;
    font-size: 1em;
    color: white;
}

.dark-mode .my-nav-content li a:hover {

    
    background-color: rgb(42,38,52);;
}


/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: lightgray white;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 6px;
}


*::-webkit-scrollbar-thumb {
    background-clip:padding-box;
    background-color: lightgray;
    scroll-padding-right: 12px;
}
  

hr {
    background-color: whitesmoke;
}

iframe{
    width: max(33.3vw, 324px);
    height: max(22.7vw, 135px);
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}

.shadowless {
    box-shadow: none!important;
}

.code-tags span{
    font-family: Consolas, monaco, monospace;
    padding: 2px;
    background-color: #b7e5c4;
    background-color: whitesmoke;
    margin-right: min(1vh, 1vw);
}

.my-highlight :hover{
    background-color: whitesmoke;
}


/* Header */
#my-title{
    font-size: 4.5em;
    text-align: center;
}

.my-header{
    font-size: 1.5em;
    
}


/* Nav Bar */

.my-nav a{
    color: black;
}

.my-nav img{
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
    position: relative;
}

.my-nav h2{
    text-align: center;
}

.my-nav-content {
    display: flex;
    justify-content: center;
}


.my-nav-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-nav-content li {
    font-size: min(3h, 3vw);
    float: left;
}


.my-nav-content li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.my-nav-content li a:hover {
    background-color: whitesmoke;
}


/* Other Project Reference Link */
.other-projects{
    margin-top: 2%;
    color: lightgray;
}

.other-projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.other-projects li {
    font-size: min(3.5vh, 3.5vw);
    float: left;
}


.other-projects li a {
    display: block;
    color: lightgray;
    padding: 16px;
    text-decoration: none;
}

.other-projects li a:hover{
    color: gray;
}

/* Copy Right Logo */
.my-copyright{
    text-align: center;
    font-size: 1em;
    color: black;
}

.profile-photo img{
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.hover{
    
    
    transition: all .2s ease-in-out;

}
.hover img{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    
}
.hover:hover{
    transform: scale(1.1);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.table tr:hover {transform: scale(1.1);}



table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0
}

table tr {
    border-bottom: none
}



table>tbody>tr:nth-child(odd) {
    background-color: rgba(242,242,242,0.5)
}

table>tbody>tr>td {
    border-radius: 0
}


tr {
    border-bottom: 1px solid rgba(0,0,0,0.12)
}

td,th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px
}


.mode-changer input{
    border-width: 0px;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

